body{
    background-color: #1B2737;
    color: #F5F8FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    font-size: 3em;
    font-style: italic;
}

h2{
    font-size: 2em;
    font-style: normal;
    text-align: left;
}

ul{
    text-align: left;
}

li{
    white-space: normal;
    word-wrap: break-word;
}

button{
    background-color: #1D8DEE;
    color: #F5F8FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #F5F8FA;
    padding: 16px 22px;
    margin: 8px;
    border-radius: 32px;
    
}

button:hover {
    background-color: #55ACEE;
}

button:active{
    background-color: #55acee82;
}